<nz-card [nzBordered]="false" [nzTitle]="'heading.status' | translate" [nzExtra]="action">
    <app-table
      [tableHeaders]="approvalStatusHeaders"
      [tableData]="approvalStatus"
      (onDelete) = "deleteRecord($event)"
      (onEdit) = "editRecord($event)"
      [formName] = "'statusTypes'"
    ></app-table>
  </nz-card>
  
  <ng-template #action>
    <button nz-button routerLink="/status/action/add" nzType="primary">
      {{ 'button.create' | translate }}
    </button>
  </ng-template>