<nz-layout>
  <nz-header>
    <div class="logo">
      <a>
        <img src="assets/logos/logo-2.png" alt="logo" />
      </a>
      <app-translations></app-translations>

    </div>
  </nz-header>
  <nz-content>
    <div class="banner">
      <img src="assets/logos/banner-four.svg" alt="banner" />
    </div>
    <form
      nz-form
      [formGroup]="form"
      class="login-form"
      (ngSubmit)="submitForm()"
      *ngIf="!success"
    >
   
      <nz-form-item class="form-item">
        <nz-form-control [nzErrorTip]="'validation.required' | translate">
          <ng-template #suffixIcon>
            <i nz-icon (click)="showPassword = !showPassword"  [nzType]="!showPassword ? 'eye-invisible' : 'eye'"></i>
          </ng-template>
          <nz-input-group [nzAddOnAfter]="suffixIcon"
          >
            <input
              [type]="showPassword ? 'text' : 'password'"
              nz-input
              formControlName="password"
              [placeholder]="'form.login.password' | translate"
            />
          </nz-input-group>
      
        </nz-form-control>

      </nz-form-item>
     
      <button
        nz-button
        class="login-form-button login-form-margin"
        [nzType]="'primary'"
        [disabled]="form.invalid"
      >
        {{ "button.changePassword" | translate }}
      </button>
    </form>
  </nz-content>
  <nz-footer>© AtoCash</nz-footer>
</nz-layout>
