<div class="form-layout">
	<nz-card
		class="form-layout__card"
		[nzBordered]="false"
		[nzTitle]="'heading.role' | translate"
		[nzExtra]="action"
	>
		<form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
			<nz-form-item>
				<nz-form-label [nzSpan]="7" nzRequired nzFor="roleCode">{{
					'form.role.roleCode' | translate
				}}</nz-form-label>
				<nz-form-control
					[nzSpan]="15"
					[nzErrorTip]="'validation.required' | translate"
				>
					<input
						formControlName="roleCode"
						type="text"
						nz-input
						[placeholder]="'form.role.roleCode' | translate"
						appCapitalize
						id="roleCode"
					/>
				</nz-form-control>
			</nz-form-item>
			<nz-form-item>
				<nz-form-label [nzSpan]="7" nzRequired nzFor="roleName">{{
					'form.role.roleName' | translate
				}}</nz-form-label>

				<nz-form-control
					[nzSpan]="15"
					[nzErrorTip]="'validation.required' | translate"
				>
					<input
						formControlName="roleName"
						nz-input
						type="text"
						[placeholder]="'form.role.roleName' | translate"
						appCapitalize
						id="roleName"
					/>
				</nz-form-control>
			</nz-form-item>
			<nz-form-item>
				<nz-form-label [nzSpan]="7" nzRequired nzFor="maxAmount">{{
					'form.role.maxAmount' | translate
				}}</nz-form-label>

				<nz-form-control
					[nzSpan]="15"
					[nzErrorTip]="'validation.required' | translate"
				>
					<input
						formControlName="maxPettyCashAllowed"
						nz-input
						type="number"
						[placeholder]="'form.role.maxAmount' | translate"
						id="maxAmount"
					/>
				</nz-form-control>
			</nz-form-item>

			<nz-form-item>
				<nz-form-control class="action-control">
					<button nz-button nzType="primary" [disabled]="!form.valid">
						{{ getButtonLabel() }}
					</button>
				</nz-form-control>
			</nz-form-item>
		</form>
		<ng-template #action>
			<button nz-button routerLink="/role" nzType="primary">
				<i nz-icon nzType="arrow-left"></i>
				{{ 'button.back' | translate }}
			</button>
		</ng-template></nz-card
	>
</div>
