<div class="form-layout">
  <nz-card
    class="form-layout__card"
    [nzBordered]="false"
    [nzTitle]="'heading.approvalLevel' | translate"
    [nzExtra]="action"
  >
    <form
      nz-form
      [formGroup]="form"
      (ngSubmit)="submitForm()"
    >
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired nzFor="level">{{
          'form.approvalLevel.level' | translate
        }}</nz-form-label>
        <nz-form-control [nzSpan]="15"  [nzErrorTip]="'validation.required' | translate">
          
            <input
              formControlName="level"
              type="text"
              nz-input
              [placeholder]="'form.approvalLevel.level' | translate"
              appCapitalize
              id="level"
            />
          
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired nzFor="levelDescription">{{
          'form.approvalLevel.levelDescription' | translate
        }}</nz-form-label>
        <nz-form-control [nzSpan]="15"  [nzErrorTip]="'validation.required' | translate">
       
            <input
              formControlName="levelDesc"
              nz-input
              type="text"
              [placeholder]=" 'form.approvalLevel.levelDescription' | translate"
              appCapitalize
              id="levelDescription"
            />
   
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control class="action-control">
          <button nz-button nzType="primary" [disabled]="!form.valid">
            {{ getButtonLabel() }}
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
    <ng-template #action>
      <button nz-button routerLink="/approval-level" nzType="primary">
        <i nz-icon nzType="arrow-left"></i>
        {{ "button.back" | translate }}
      </button>
    </ng-template></nz-card
  >
</div>
