.filters-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    padding: 16px;
    margin-right: 8px;
    &__item {
      width: 100%
    }

    &__control {
        width: 100%;

        nz-date-picker {
          width: 100%;
        }
    }
}


.account-details {

  &__label {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  &__value {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
}